@charset "utf-8";
@import "../../common/scss/_reset.scss";
.wrap{
	.page1{
		background-color: green;
	}
	.page2{
		background-color: red;
	}
	.page3{
		background-color: yellow;
	}
	.page4{
		background-color: blue;
	}
	.page5{
		background-color: deeppink;
	}
}
